.DS_Store
docs/
.venv/
.ansible/
.cache/
ansible/collections/ansible_collections/
ansible/collections/*.info/
ansible/private/
__pycache__/
*.pyc
passwd.client.j2

# Kolla-Ansible secrets and operational files
kolla/**/*certificates/
kolla/**/*.keyring
kolla/ansible_vault_pass
kolla/clouds.yaml
kolla/**/*.pem
kolla/prometheus-alertmanager.yml
kolla/**/*.bk
kolla/**/*.sh
kolla/passwords.yml.bak
kolla/README.md
